@model IEnumerable<TheCarHubApp.Data.Car>

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="main-title">Welcome to The Car Hub !</h1>
<h4 class="secondary-title">Here is an overview of the cars available for sale</h4>

@* Carousel to display latest cars for sale *@
<div id="carouselExampleIndicators" class="carousel slide w-50 center" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Images/04f2a651-ae40-45e8-bdea-ebec6e082bfa_Buick_Lacrosse_1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Images/46487d58-2432-4fe3-b362-92fc9226a24c_Tesla_ModelS_1.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Images/e5675648-b557-41f7-99f1-2e43e45269f9_Chevrolet_Corvette_Stingray_3.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@* Searchbar *@
<form method="get" asp-action="Index">
    <div class="searchbar">
        <div class="form-outline center">
            <input type="search" placeholder="Enter Make, Model or Year" value="@ViewData["FindCar"]" name="carSearch" class="form-control search-input" id="SearchCar" />
        </div>
        <input type="hidden" name="carSearch" value="@ViewBag.carSearch" />
        <div>
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-action="Index">Get All Cars</a>
        </div>
    </div>
</form>
<form method="get">
    <input type="hidden" name="carSearch" value="@ViewBag.carSearch" />
    <table class="table table-striped">
        <thead class="thead-style">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MakeName)
                   
                    <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch" asp-route-sortingCars="@ViewData["CarMakeNameASC"]" title="A to Z"><img src="~/Images/up.png" alt="U" /></a>
                    <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch"  asp-route-sortingCars="@ViewData["CarMakeNameDESC"]" title="Z to A"><img src="~/Images/down.png" alt="D" /></a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModelName)
                    <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch"  asp-route-sortingCars="@ViewData["CarModelNameASC"]" title="A to Z"><img src="~/Images/up.png" alt="U" /></a>
                    <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch"  asp-route-sortingCars="@ViewData["CarModelNameDESC"]" title="Z to A"><img src="~/Images/down.png" alt="D" /></a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                    <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch"  asp-route-sortingCars="@ViewData["CarYearASC"]" title="Old to Recent"><img src="~/Images/up.png" alt="U" /></a>
                    <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch"  asp-route-sortingCars="@ViewData["CarYearDESC"]" title="Recent to Old"><img src="~/Images/down.png" alt="D" /></a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Milleage)
                    <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch"  asp-route-sortingCars="@ViewData["CarMilleageASC"]" title="Low to High"><img src="~/Images/up.png" alt="U" /></a>
                    <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch"  asp-route-sortingCars="@ViewData["CarMilleageDESC"]" title="High to Low"><img src="~/Images/down.png" alt="D" /></a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SellingPrice)
                    <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch"  asp-route-sortingCars="@ViewData["CarPriceASC"]" title="Low to High"><img src="~/Images/up.png" alt="U" /></a>
                    <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch"  asp-route-sortingCars="@ViewData["CarPriceDESC"]" title="High to Low"><img src="~/Images/down.png" alt="D" /></a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.SaleDate == null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MakeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModelName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Trim)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Milleage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SellingPrice)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</form>
<button onclick="topFunction()" id="myBtn" title="Go to top" class="back-to-top-button">
    Top
</button>


<script>

    //$(document).ready(function () {
    //    $('.search-input').on("change", function () {
    //        var OngoingSearch = document.getElementById("SearchCar").getAttribute("Value");
    //        //carSearch = $(this).next('.search-input');
    //        console.log(OngoingSearch);
    //    }),
    //});

    //Adding a 'Back-to-top' button
    //Get the button:
    mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>