@model IEnumerable<TheCarHubApp.Data.Car>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to The Car Hub !</h1>
<h4>Here is an overview of the cars available for sale</h4>

<form method="get" asp-action="Index">
    <div class="searchbar">
        <div class="form-outline">
            <input type="search" placeholder="Enter Make, Model or Year" value="@ViewData["FindCar"]" name="carSearch" class="form-control search-input" />
        </div>
        <div>
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-action="Index">Get All Cars</a>
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead class="thead-style">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MakeName)
                <a asp-action="Index" asp-route-sortingCars="@ViewData["CarMakeNameASC"]" title="A to Z"><img src="~/Images/up.png" alt="U" /></a>
                <a asp-action="Index" asp-route-sortingCars="@ViewData["CarMakeNameDESC"]" title="Z to A"><img src="~/Images/down.png" alt="D" /></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelName)
                <a asp-action="Index" asp-route-sortingCars="@ViewData["CarModelNameASC"]" title="A to Z"><img src="~/Images/up.png" alt="U" /></a>
                <a asp-action="Index" asp-route-sortingCars="@ViewData["CarModelNameDESC"]" title="Z to A"><img src="~/Images/down.png" alt="D" /></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
                <a asp-action="Index" asp-route-sortingCars="@ViewData["CarYearASC"]" title="Old to Recent"><img src="~/Images/up.png" alt="U" /></a>
                <a asp-action="Index" asp-route-sortingCars="@ViewData["CarYearDESC"]" title="Recent to Old"><img src="~/Images/down.png" alt="D" /></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Milleage)
                <a asp-action="Index" asp-route-sortingCars="@ViewData["CarMilleageASC"]" title="Low to High"><img src="~/Images/up.png" alt="U" /></a>
                <a asp-action="Index" asp-route-sortingCars="@ViewData["CarMilleageDESC"]" title="High to Low"><img src="~/Images/down.png" alt="D" /></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellingPrice)
                <a asp-action="Index" asp-route-sortingCars="@ViewData["CarPriceASC"]" title="Low to High"><img src="~/Images/up.png" alt="U" /></a>
                <a asp-action="Index" asp-route-sortingCars="@ViewData["CarPriceDESC"]" title="High to Low"><img src="~/Images/down.png" alt="D" /></a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.SaleDate == null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MakeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trim)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Milleage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SellingPrice)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>

<button onclick="topFunction()" id="myBtn" title="Go to top" class="back-to-top-button">
    Top
</button>


<script>
    //Adding a 'Back-to-top' button
    //Get the button:
    mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>