@model IEnumerable<TheCarHubApp.Data.Car>

@{
    ViewData["Title"] = "Home Page";
}

<h1 style="color: red; text-align:center;">Welcome to The Car Hub !</h1>
<h4 style="color: blue; text-align:center; margin-bottom: 30px;">Here is an overview of the cars available for sale</h4>

<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Enter Make, Model or Year..." value="@ViewData["FindCar"]" name="carSearch" style="width: 500px;" />
        <input type="submit" value="Search" class="btn btn-primary" /> |
        <a asp-action="Index">Get All Cars</a>
    </p>
</form>

<table class="table table-striped">
    <thead style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MakeName)
                <a asp-action="Index" asp-route-sortingCars="@ViewData["CarMakeNameASC"]"><img src="~/Images/up.png" alt="U" /></a>
                <a asp-action="Index" asp-route-sortingCars="@ViewData["CarMakeNameDESC"]"><img src="~/Images/down.png" alt="D" /></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelName)
                <a asp-action="Index" asp-route-sortingCars="@ViewData["CarModelNameASC"]"><img src="~/Images/up.png" alt="U" /></a>
                <a asp-action="Index" asp-route-sortingCars="@ViewData["CarModelNameDESC"]"><img src="~/Images/down.png" alt="D" /></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
                <a asp-action="Index" asp-route-sortingCars="@ViewData["CarYearASC"]"><img src="~/Images/up.png" alt="U" /></a>
                <a asp-action="Index" asp-route-sortingCars="@ViewData["CarYearDESC"]"><img src="~/Images/down.png" alt="D" /></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Milleage)
                <a asp-action="Index" asp-route-sortingCars="@ViewData["CarMilleageASC"]"><img src="~/Images/up.png" alt="U" /></a>
                <a asp-action="Index" asp-route-sortingCars="@ViewData["CarMilleageDESC"]"><img src="~/Images/down.png" alt="D" /></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellingPrice)
                <a asp-action="Index" asp-route-sortingCars="@ViewData["CarPriceASC"]"><img src="~/Images/up.png" alt="U" /></a>
                <a asp-action="Index" asp-route-sortingCars="@ViewData["CarPriceDESC"]"><img src="~/Images/down.png" alt="D" /></a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.SaleDate == null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MakeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trim)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Milleage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SellingPrice)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
