
@model TheCarHubApp.Data.Car

@{
    ViewData["Title"] = "Edit";
    var photoSource = "";
    var photoes = TempData["Photoes"] as List<TheCarHubApp.Data.CarPhoto>;
}

<h1>Car Edition</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CarMakeId" id="CarMakeId" />
            <input type="hidden" asp-for="CarModelId" id="CarModelId" />

            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MakeName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MakeName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ModelName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ModelName)
                </dd>
            </dl>

            <div class="form-group">
                <label asp-for="VIN" class="control-label"></label>
                <input asp-for="VIN" class="form-control" />
                <span asp-validation-for="VIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trim" class="control-label"></label>
                <input asp-for="Trim" class="form-control" />
                <span asp-validation-for="Trim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <select id="Year" asp-for="Year" asp-items="@(new SelectList(ViewBag.YearList, "Value", "Text"))">
                </select>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Milleage" class="control-label"></label>
                <input asp-for="Milleage" class="form-control" />
                <span asp-validation-for="Milleage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Setup Margin ($500 by default)</label>
                <input class="form-control" id="Margin" placeholder="500"  onchange="window.calc" value="500" />
            </div>
            <div class="form-group">
                <label asp-for="PurchaseDate" class="control-label"></label>
                <input asp-for="PurchaseDate" class="form-control" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasePrice" class="control-label"></label>
                <input asp-for="PurchasePrice" class="form-control"  onchange="window.calc" />
                <span asp-validation-for="PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repairs" class="control-label"></label>
                <input asp-for="Repairs" class="form-control" />
                <span asp-validation-for="Repairs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairCost" class="control-label"></label>
                <input asp-for="RepairCost" class="form-control"  onchange="window.calc" />
                <span asp-validation-for="RepairCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LotDate" class="control-label"></label>
                <input asp-for="LotDate" class="form-control" />
                <span asp-validation-for="LotDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellingPrice" class="control-label"></label>
                <input asp-for="SellingPrice" class="form-control" />
                <span asp-validation-for="SellingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleDate" class="control-label"></label>
                <input asp-for="SaleDate" class="form-control" />
                <span asp-validation-for="SaleDate" class="text-danger"></span>
            </div>

            <div class="gallery" style="width: 300%; display: flex; flex-wrap: wrap; align-content: space-around; align-items: flex-end; gap: 10px 30px;">
                @if (photoes != null && photoes.Count > 0)
                {
                    @foreach (var photo in photoes)
                    {
                        photoSource = "~/Images/" + photo.PhotoName;

                        <div style="flex: 25%;">
                            <div><img src="@photoSource " alt="photo of the car" asp-append-version="true" /></div>
                            <div><button onclick="deletephoto(@photo.Id)" type="button" class="btn btn-danger">Delete Photo</button></div>
                        </div>
                    }
                }
                else
                {
                    <img class="card-img-top imageThumbnail" src="~/Images/noimage.jpg" alt="photo of the car" asp-append-version="true" />
                }
            </div>

            @*Upload new photoes to that car and save them in the Images folder and in the CarPhoto Table)*@
            <div class="form-group">
                <label asp-for="CarPhotoes" class="control-label"></label>
                <div class="custom-file">
                    <input multiple asp-for="CarPhotoes" class="form-control custom-file-input" />
                    <label class="custom-file-label">Choose new Photoes ...</label>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


<script>
    function deletephoto(id) {
        fetch('/cars/DeletePhoto/' + id, {
            method: 'Post',
            headers: {
                'Content-type': 'application/json'
            }

        }).then(res => {window.location.reload()}).catch(err => console.log(err))
    }

    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileLabel = $(this).next('.custom-file-label');
            var files = $(this)[0].files;
            if (files.length > 1) {
                fileLabel.html(files.length + ' files selected');
            }
            else if (files.length == 1) {
                fileLabel.html(files[0].name);
            }
        });
    });

    //automatic calculation of Selling Price
    $(document).ready(function () {
        var placeholder = document.getElementById("Margin").getAttribute("placeholder");
        console.log(placeholder);
        console.log($("#Margin").val());
        if ($("#Margin").val() == "") {
            $("#PurchasePrice, #RepairCost").on("change", calc)
            console.log("margin input field wasn't filled")
        }
        else {
            $("#Margin, #PurchasePrice, #RepairCost").on("change", calc)
        }
        $("#calc").on("click", calc);

        function calc() {
            var purchasePrice = $("#PurchasePrice").val();
            var repairCost = $("#RepairCost").val();
            var margin = $("#Margin").val() != "" ? $("#Margin").val() : 500;
            console.log(margin);
            $('#SellingPrice').val(parseInt(purchasePrice) + parseInt(repairCost) + parseInt(margin));
        }
    });

    //setTimeout("location.reload(true);", 1000);
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}






