@model IEnumerable<TheCarHubApp.Data.Car>

@{
    ViewData["Title"] = "Index";
}

<div class="management-options">
    <h2>Cars Management | </h2>
    <h2><a asp-controller="CarModels" asp-action="Index"> Models management | </a></h2>
    <h2><a asp-controller="CarMakes" asp-action="Index"> Makes Management |</a></h2>
    <h2><a asp-controller="ContactInfoes" asp-action="Index"> Contact Management</a></h2>
</div>

<p>
    <a asp-action="Create">Add a New Car</a>
</p>

<form method="get" asp-action="Index">
    <div class="searchbar">
        <div class="form-outline">
            <input type="search" placeholder="Enter VIN, Make, Model or Year" value="@ViewData["FindCar"]" name="carSearch" class="form-control search-input" />
        </div>
        <div>
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-action="Index">Get All Cars</a>
        </div>
    </div>

</form>

<table class="table table-striped">
    <thead class="thead-style">
        <tr>
            <th>
                Status
                <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch" asp-route-sortingCars="@ViewData["SoldCar"]" title="Sold"><img src="~/Images/SoldCars2.png" alt="OUT" /></a>
                <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch" asp-route-sortingCars="@ViewData["AvailableCar"]" title="Available"><img src="~/Images/AvailableCars2.png" alt="IN" /></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakeName)
                <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch" asp-route-sortingCars="@ViewData["CarMakeNameASC"]" title="A to Z"><img src="~/Images/up.png" alt="U" /></a>
                <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch" asp-route-sortingCars="@ViewData["CarMakeNameDESC"]" title="Z to A"><img src="~/Images/down.png" alt="D" /></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelName)
                <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch" asp-route-sortingCars="@ViewData["CarModelNameASC"]" title="A to Z"><img src="~/Images/up.png" alt="U" /></a>
                <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch" asp-route-sortingCars="@ViewData["CarModelNameDESC"]" title="Z to A"><img src="~/Images/down.png" alt="D" /></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
                <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch" asp-route-sortingCars="@ViewData["CarYearASC"]" title="old first"><img src="~/Images/up.png" alt="U" /></a>
                <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch" asp-route-sortingCars="@ViewData["CarYearDESC"]" title="recent first"><img src="~/Images/down.png" alt="D" /></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
                <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch" asp-route-sortingCars="@ViewData["PurchaseDateASC"]" title="Old to recent"><img src="~/Images/up.png" alt="U" /></a>
                <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch" asp-route-sortingCars="@ViewData["PurchaseDateDESC"]" title="Recent to old"><img src="~/Images/down.png" alt="D" /></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchasePrice)
                <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch" asp-route-sortingCars="@ViewData["PurchasePriceASC"]" title="Low to High"><img src="~/Images/up.png" alt="U" /></a>
                <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch" asp-route-sortingCars="@ViewData["PurchasePriceDESC"]" title="High to Low"><img src="~/Images/down.png" alt="D" /></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotDate)
                <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch" asp-route-sortingCars="@ViewData["LotDateASC"]" title="Old to recent"><img src="~/Images/up.png" alt="U" /></a>
                <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch" asp-route-sortingCars="@ViewData["LotDateDESC"]" title="Recent to old"><img src="~/Images/down.png" alt="D" /></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellingPrice)
                <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch" asp-route-sortingCars="@ViewData["SellingPriceASC"]" title="Low to High"><img src="~/Images/up.png" alt="U" /></a>
                <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch" asp-route-sortingCars="@ViewData["SellingPriceDESC"]" title="High to Low"><img src="~/Images/down.png" alt="D" /></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaleDate)
                <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch" asp-route-sortingCars="@ViewData["SaleDateASC"]" title="Old to recent"><img src="~/Images/up.png" alt="U" /></a>
                <a asp-action="Index" asp-route-carSearch="@ViewBag.carSearch" asp-route-sortingCars="@ViewData["SaleDateDESC"]" title="Recent to old"><img src="~/Images/down.png" alt="D" /></a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.SaleDate != null)
                    {
                        <img src="~/Images/sold.png" alt="Sold !" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VIN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MakeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchasePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LotDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellingPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<button onclick="topFunction()" id="myBtn" title="Go to top" class="back-to-top-button">
    Top
</button>


<script>
    //Get the button:
    mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>

